Repository pinequest-2h/taatai-surguuli, pull requests merged in 2025-09, with the labels that each got.

#16 color
  frontend/src/app/dashboard/page.tsx
Labels: frontend

#19 setgelzuichdiig shuuh shuulter zasalt
  backend/src/models/PsychologistProfile.ts
  backend/src/resolvers/queries/psychologist/get-psychologist-profile.ts
  backend/yarn.lock
  frontend/src/app/psychologists/[id]/page.tsx
  frontend/src/app/psychologists/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/graphql/queries.ts
  frontend/yarn.lock
Labels: frontend

#30 chore: add root package.json to delegate build/start to backend for R…
  package.json
Labels: backend

#32 again2
  backend/src/types/generated.ts
Labels: backend

#34 frontend deploy
  frontend/package.json
Labels: frontend

#43 huuhed report hij boldog nere nuutsalj boldog
  frontend/src/app/admin/reports/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/components/ReportCard.tsx
  frontend/src/components/ReportList.tsx
Labels: frontend, backend

#44 Fix CORS and add better error logging for deployed backend debugging
  backend/src/handler.ts
  backend/src/resolvers/mutations/user/update-user-mutation.ts
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/ReportList.tsx
  frontend/src/context/AuthContext.tsx
Labels: frontend, backend

#46 45 backend frontend nodemailer forgot password added
  backend/src/models/Report.ts
  backend/src/resolvers/mutations/index.ts
  backend/src/resolvers/mutations/user/email-mutations.ts
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/EmailVerification.tsx
  frontend/src/components/OTPInput.tsx
  frontend/src/hooks/useEmail.ts
  frontend/src/lib/graphql/mutations.ts
Labels: frontend, backend

#53 design improvement
  frontend/src/app/profile/page.tsx
Labels: frontend

#55 Reapply CORS fix for Vercel domains with enhanced debugging
  backend/src/handler.ts
Labels: frontend, backend

#60 email resend zassan textiin ungu zassan
  backend/src/resolvers/mutations/user/email-mutations.ts
  frontend/src/app/signin/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/EmailVerification.tsx
  frontend/src/components/OTPInput.tsx
Labels: frontend, backend

#65 setgelzuichiin profile harah
  backend/src/resolvers/queries/psychologist/get-psychologist-profile.ts
  backend/src/resolvers/queries/psychologist/get-psychologists.ts
  frontend/src/app/reports/page.tsx
  frontend/src/components/Sidebar.tsx
Labels: frontend, backend
